body{
    background-color:none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}
ul
{
list-style: none;
padding: 10px;
}

li
{
display:inline;
background-color:none;
/*border-radius: 3px;*/
text-align: right;
font-size: 30px;

}
/*li:first-child
{
margin-left: 0;
}
li:hover
{
background-color: red;
}*/
a
{
text-align: left;
text-decoration: none;
color: black;
}
a:hover
{
text-decoration:underline;
color: black;
}

button{
color:rgb(161, 20, 20);
background: white;
border-radius: 5px 5px 5px 5px;

}
.rotatified {transform: rotate(90deg);}
/*.sections
{
display: flex;
text-align:right;

}*/
.sections div
{
width: 100%;
margin: 15px 5px;

}
.sections.lower div
{
text-align: left;
background:gray;
color: white;


}
.sections.upper div
{
text-align: right;
background:black;
color: white;
}